@{ 
    ViewBag.Title = "Inicio";
 }

<html>

<head>
   <title> @ViewBag.Title </title>
</head>

<body>
    <div class="text-center">
        <h1> ¡Bienvenido  @ViewBag.Message al repositorio de evaluaciones de EMate!  </h1>
    </div>
</body>
</html>
