@{ 
    ViewBag.Title = "Inicio";
}

<html>

<head>
   <title> @ViewBag.Title </title>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", accordionFuction);
        }

        function accordionFuction() {
            alert("Holaaa!!");
            ///* Toggle between adding and removing the "active" class,
            //to highlight the button that controls the panel */
            //this.classList.toggle("active");

            ///* Toggle between hiding and showing the active panel */
            //var panel = this.nextElementSibling;
            //if (panel.style.display === "block") {
            //    panel.style.display = "none";
            //} else {
            //    panel.style.display = "block";
            //}

        }
    </script>


    <style>
        /* Style the buttons that are used to open and close the accordion panel */
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
        }

            /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
            .active, .accordion:hover {
                background-color: #ccc;
            }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;
        }
    </style>


</head>

<body>
    <div class="text-center">
        <h1> ¡Bienvenido al repositorio de evaluaciones de EMate!  </h1>
    </div>

    <div class="row">
        <div class="text-center"> <h3> A continuación se presentan las catedras en las cuales usted es docente</h3> </div>
        <div class="text-center"> <h4> Lista de catedras</h4> </div>

        <div class="col-md-6">
            <button class="accordion">Catedra 1</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">Catedra 2</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">Catedra 3</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
        </div>        
        <div class="col-md-6">
            <button class="accordion">Catedra 1</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">Catedra 2</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">Catedra 3</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
        </div>

    </div>


</body>


</html>
